#event-item{
    margin-bottom: 75px;
}
#categories{
    width: 100%;
}
.no-event-div{
    margin-top: 50%;
    font-size: 30px;
}
.nav-title{
    font-size: 20px;
}
.no-event-diver{
    margin-top: 25%;
    font-size: 30px;
}