#event-item{
    margin-bottom: 75px;
}
#categories{
    width: 100%;
}
.no-event-div{
    margin-top: 100px;
    font-size: 30px;
}
.nav-title{
    font-size: 20px;
}
.no-event-diver{
    margin-top: 25%;
    font-size: 30px;
}
.card-title{
    font-size: 2em;
    /* margin: 0.5em; */
    width: 100%;
    margin-top: 1em;
}
.module-para{
    width: 100%;
    margin-top: 1em;

}
.modal-title{
    width: 100%;
}