<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/custom.css"/>
    <link type="text/css" rel="stylesheet" href="css/aos.css"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Dashboard</title>
</head>
<body>
    <main>
    <ul id="options" class="dropdown-content">
        
        <li><a href="#">Contacts</a></li>
        <li><a href="#">About us</a></li>
        <li class="divider"></li>
        <li><a href="index.html">Sign out</a></li>
    </ul>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Bright Events</a>
            <a href="#" class="button-collapse" data-activates="mobile-nav"><i class="material-icons">menu</i></a>            
            <ul class="right hide-on-med-and-down">
                <li><a href="home.html">Home</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="options">Options<i class="material-icons right">arrow_drop_down</i></a></li>
                
            </ul>
            <div class="side-nav" id="mobile-nav">
                <span class="form-subheader prof-name">"{{data.get('user')}}"</span>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="index.html">logout</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">About us</a></li>
                    <li class="divider"></li>
    
                </ul>
            </div>
            
        </div>
        <div class="nav-content hide-on-med-and-down">
            <span class="nav-title">User name</span>
            </a>
        </div>

    </nav>

    <div class="container">
        <div class="row">
            <div class="col s6">
                <span class="div-header">My events</span>
                {{% if len(data.get('message')) != 0 %}}
                <ul>
                    {{% for event in data.get('message') %}}
                    <li id="event-item" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="800">
                        <div class="card sticky-action">
                            <div class="card-image waves-effect waves-block waves-light">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{event.get('name')}}<i class="material-icons right">more_vert</i></span>
                                <p>Location:  {{ event.get('location')}}</p>
                                <br>
                                Happening on : {{event.get('time')}}
                            </div>
                            <div class="card-action">
                                <a href="#" class="btn-floating waves-effect waves-light red darken-1">
                                    <i class="material-icons">delete</i>
                                </a>
                                <a href="#" class="btn-floating waves-effect waves-light yellow darken-1">
                                        <i class="material-icons">edit</i>
                                    </a>
                                <a href="#" class="btn-floating waves-effect waves-light green darken-1">
                                        <i class="material-icons">list</i>
                                    </a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">EventTitle<i class="material-icons right">close</i></span>
                                <p>More event information.</p>
                            </div>  
                        </div>
                    </li>
                    
                </ul>
                {{% else %}}
                    <span class="div-header">No events available</span>
                {{% endif %}}
                
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large purple darken-1 modal-trigger" href="#addeventmodal" ><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="col s6 rsvp-div">
                <span class="div-header">RSVP List</span>
                <ul>
                    <li  data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="800">
                        <div class="col s12">
                            <div class="card-panel grey lighten-5 z-depth-1">
                                <div class="row valign-wrapper">

                                <div class="col s12">
                                    <div class="row">
                                        <h4 class="card-title purple-text text-darken-4">User name</h4>
                                    </div>
                                    <div class="row">
                                        <h5 class="black-text">Coming</h5>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal" id="addeventmodal">
        <div class="container">
            <div class="row">
                <form action="">
                        <div class="row"  data-aos="zoom-in">
                            <div class="input-field col s12">
                                <input type="text" id="name">
                                <label for="name">Event name</label>
                            </div>
                        </div>
                        <div class="row"  data-aos="zoom-in">
                            <div class="input-field col s12">
                                <input  type="text" class="validate" id="location">
                                <label for="location">Event Location</label>
                            </div>
                        </div>
                        <input type="text" class="datepicker">
                        <br>
                        <center>
                            <button class="btn waves-effect waves-light purple darken-4" 
                                type="submit" name="action" data-aos="fade-up">Submit</button>
                        </center>
                </form>

            </div>

        </div>
    </div>

    </main>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/aos.js"></script>

</body>
</html>