<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}"/>
    {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welcome to Bright-Events</title>
    {% endif %}
</head>
<body>
    {% block navbar %}
    <nav>
        <div class="nav-wrapper">
            <a href="/index" class="brand-logo">Bright Events</a>
            <a href="#" class="button-collapse" data-activates="mobile-nav"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/about">About us</a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/about">About us</a></li>
            </ul>
        </div>
    </nav>
    {% endblock navbar %}
    {% block content %}

    {% endblock content %}
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    {% block scripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
    {% endblock %}
</body>
</html>