{% extends "base.html" %}
<body>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    {% block content %}
    <div class="my-class">
            <div class="container">
                <div class="row info-container" data-aos="fade-right"  data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1200">
                    <div class="col s12 m6 l6 ">
                        <div class="row">
                            <h5 class="para-header">Welcome to Bright events</h5>
                            <br>
                            <p class="landing-para">Hey there, we are proud to intoduce the newest event creation and 
                                management system. We link the best event creators out there with clients.
                            </p>
                            <br>
                            <p class="landing-para">
                                But we dont stop there we make sure that our clients are always up to date with the
                                latest, craziest turnups and events in their location. Advertising with us is the difference
                                between TOTALLY SOLD OUT and Tickets still available.
                            </p>
                        </div>
                        
                    </div>
                    <div id="sign-card" class="col s12 m6 l6">
                        <div class="contaner card"  data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1200">
                            <div class="card-tabs">
                                <ul class="tabs tabs-fixed-width" >
                                    <li class="tab col s6"><a class="white-text active" href="#signin">Sign in</a></li>
                                    <li class="tab col s6"><a class="white-text" href="#signup">Sign up</a></li>
                                </ul>
                            </div>
                            <div class="card-content grey lighten-4">
                                <div id="signin" class="row" >
                                    <form action="",method="POST", class="col s12", data-aos="zoom-in">
                                        <div >
                                            <h3 class="form-header" data-aos="zoom-in">Hey there</h3>
                                            <h6 class="form-subheader" data-aos="zoom-in">Glad to have you back</h2>

                                            <div class="row"  data-aos="zoom-in">
                                                <div class="input-field col s12">
                                                    <input type="email" class="validate" id="email">
                                                    <label for="email">Email</label>
                                                </div>
                                            </div>
                                            <div class="row"  data-aos="zoom-in">
                                                <div class="input-field col s12">
                                                    <input type="password" class="validate" id="password">
                                                    <label for="password">Password</label>
                                                </div>
                                            </div>
                                            <br>
                                            <center>
                                                <input class="btn waves-effect waves-light purple darken-4" 
                                                    type="submit" name="action" data-aos="fade-up">Sign in</input>
                                            </center>
                                        </div>
                                    </form>
                                </div>
                                <div id="signup" class="row">
                                    <form class="col s12" action="/api/auth/register" method="POST" >
                                        <div >
                                            <h3 class="form-header" data-aos="zoom-in">Welcome</h3>                                                
                                            <div class="row" data-aos="zoom-in">
                                                <div class="input-field col s12">
                                                        <input id="username" type="text" class="validate">
                                                        <label for="username">Username</label>
                                                </div>
                                            </div>
                                            <div class="row" data-aos="zoom-in">
                                                <div class="input-field col s12">
                                                    <input id="email" type="email" class="validate">
                                                    <label for="email">Email</label>
                                                </div>
                                            </div>
                                            <div class="row" data-aos="zoom-in">
                                                <div class="input-field col s12">
                                                    <input id="password" type="password" class="validate">
                                                    <label for="password">Password</label>
                                                </div>
                                            </div>
                                            <div class="row" data-aos="zoom-in">
                                                <div class="input-field col s12">
                                                    <input id="password-confirm" type="password" class="validate">
                                                    <label for="password-confirm">Confirm password</label>
                                                </div>
                                            </div>
                                            <center>
                                                <button  class="btn waves-effect waves-light purple darken-4" 
                                                type="submit" value="submit" data-aos="fade-up">Sign in</button>
                                            </center>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% endblock %}    
</body>
</html>