nav {
    background-color: #4a148c;
    margin: 0 auto;
    padding: 0;
}
.my-class{
    margin-top: 2%
}
.brand-logo{
    display: inline-block;
}
.nav li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}
.tabs{
    background-color: #4a148c;
}
.form-header{
    color: #4a148c;
    padding: 0;
}
.form-subheader{
    color: #424242;
}
/* label color */
.input-field label {
    color: #4a148c;
}
/* valid color */
.input-field input[type=email].valid {
border-bottom: 1px solid #00e676;
box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=email].invalid {
border-bottom: 1px solid #e91e63;
box-shadow: 0 1px 0 0 #000;
}
.landing-para{
    line-height: 200%;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}
#signin{
    height: 350px;
}
.nav-wrapper{
    padding-left: 20px;
    padding-right: 20px;    
}
#sign-card{
    border-left: 15px;
    border-left-color: #4a148c;
}
.para-header{
    color: #4a148c;
    padding-left: 50px;
    padding-right: 50px;
}
.nav-content{
    padding-left: 20px;
    padding-right: 20px;     
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.page-footer{
    background-color: #4a148c;
}
.prof-img{
    max-width: 100%;
    height:auto;
}
.prof-name{
    padding-left: 30px;
}
.card-action{
    color: #4a148c;
}
.div-header{
    color: #4a148c;
}
.card-action{
    align-content: center;
    align-items: center;
}
.rsvp-div{
    margin-left: 50px;
}
#event-item{
    height: 200px;
}
.fixed-action-btn{
    margin-right: 48px;
    margin-bottom: 48px;
}
li{
    margin-bottom: 75px;
}
body{
    background-color: #eceff1;
}     